.success-icon {
  position: relative;
  left: -0.5rem;
}

.label {
  margin-bottom: 1.25rem;
}

.label:last-of-type {
  margin-bottom: 0.25rem;
}

.help-text {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.help-icon {
  margin-right: 0.25rem;
}
