.wrapper {
  position: fixed;
  top: 2rem;
  right: 10rem;
  color: var(--color_grey_90);
  z-index: 1;
}

.hand-button {
  border: 0;
  background: unset;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--color_white);
  color: var(--color_grey_90);
  transition: background-color 200ms ease;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.3),
    0 6px 10px 0 rgba(0, 0, 0, 0.28), 0 9px 20px 5px rgba(0, 0, 0, 0.15);
}

.hand-button::before {
  background-color: transparent;
}

.hand-button:hover {
  background-color: var(--color_grey_90);
  color: var(--color_white);
}

.hand-button i {
  margin-left: -3px;
}

.help-text {
  margin-bottom: 0.5rem;
}

.menu {
  position: absolute;
  top: 150%;
  left: 50%;
  min-width: 18rem;
  padding: 1rem 1.5rem 1.75rem;
  border-radius: 0.125rem;
  background-color: var(--color_white);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.3),
    0 6px 10px 0 rgba(0, 0, 0, 0.28), 0 9px 20px 5px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  will-change: transform;
  transform: translate(-50%, 0);
  transition: visibility 225ms, transform 225ms ease, opacity 225ms ease;
}

.isOpen .menu {
  opacity: 1;
  transform: translate(-50%, 0.75rem);
  visibility: visible;
}

.menu-header {
  margin-bottom: 1.25rem;
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: var(--color_grey_80);
}

.success-icon {
  margin-right: 0.5rem;
}

.arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 5rem;
  height: 5rem;
  transform: translateX(-50%) rotate(180deg);
  overflow: hidden;
  pointer-events: none;
}

.arrow::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -0.125rem;
  left: 50%;
  height: 14px;
  width: 14px;
  background: var(--color_white);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.3),
    0 6px 10px 0 rgba(0, 0, 0, 0.28), 0 9px 20px 5px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media only screen and (max-width: 860px) {
  .wrapper {
    top: 2rem;
    right: 2rem;
  }

  .menu {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: unset;
    right: unset;
    max-height: 90vh;
    overflow: auto;
    transform: translate(-50%, -50%);
    box-shadow: 8px 2px 0px 5000px rgba(0, 0, 0, 0.5);
  }

  .isOpen .menu {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
  }

  .arrow {
    display: none;
  }
}