.GridLayout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 4.25rem 1fr repeat(2, minmax(300px, 15%));
  grid-template-rows: repeat(2, minmax(40%, 50%)) auto;
  grid-template-areas:
    'ControlsBar LiveOnAir HoldingRoom Queue'
    'ControlsBar VideoTiles HoldingRoom Queue';
}

.GridLayout--hideRoster,
.GridLayout--hideQueue {
  grid-template-columns: 4.25rem 1fr minmax(300px, 15%);
}

.GridLayout--hideQueue {
  grid-template-areas:
    'ControlsBar LiveOnAir HoldingRoom'
    'ControlsBar VideoTiles HoldingRoom';
}

.GridLayout--hideRoster {
  grid-template-areas:
    'ControlsBar LiveOnAir Queue'
    'ControlsBar VideoTiles Queue';
}

.GridLayout--hideQueue.GridLayout--hideRoster {
  grid-template-columns: 4.25rem 1fr;
  grid-template-areas:
    'ControlsBar LiveOnAir'
    'ControlsBar VideoTiles';
}