.grid {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  flex: 1;
}

/* 1 Tile */

.grid--size-1 {
  grid-template: 1fr / 1fr;
}

.grid--size-1.slim {
  grid-template: repeat(3, 1fr) / 1fr;
}

.grid--size-1.r21by9 {
  grid-template: 1fr / 3fr 1fr;
}

.grid--size-1.r21by9 {
  grid-template: 1fr / 3fr 1fr;
}

.grid--size-1.r21by9 {
  grid-template: 1fr / 3fr 1fr;
}

.grid--size-1.r29by9 {
  grid-template: 1fr / 2fr 1fr;
}

.grid--size-1.r36by9 {
  grid-template: 1fr / 1fr 1fr;
}

/* 2 Tiles */

.grid--size-2,
.grid--size-2.r29by9 {
  grid-template: 1fr / repeat(2, 1fr);
}

.grid--size-2.slim {
  grid-template: repeat(3, 1fr) / 1fr;
}

.grid--size-2.r1by1,
.grid--size-2.r2by3 {
  grid-template: repeat(2, 1fr) / 1fr;
}

.grid--size-2.r4by3,
.grid--size-2.r3by2 {
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.grid--size-2.r16by9 {
  grid-template: 4fr 3fr / repeat(2, 1fr);
}

.grid--size-2.r21by9 {
  grid-template: 5fr 1fr / repeat(2, 1fr);
}

.grid--size-2.r36by9 {
  grid-template: 1fr / repeat(2, 2fr) 1fr;
}

/* 3 tiles */

.grid--size-3,
.grid--size-3.r4by3 {
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.grid--size-3.slim,
.grid--size-3.r2by3 {
  grid-template: repeat(3, 1fr) / 1fr;
}

.grid--size-3.r21by9 {
  grid-template: 2fr 1fr / repeat(3, 1fr);
}

.grid--size-3.r29by9,
.grid--size-3.r36by9 {
  grid-template: 4fr 1fr / repeat(3, 1fr);
}

/* 4 tiles */

.grid--size-4 {
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.grid--size-4.slim {
  grid-template: repeat(4, 1fr) / 1fr;
}

.grid--size-4.r2by3 {
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}

.grid--size-4.r1by1,
.grid--size-4.r4by3 {
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.grid--size-4.r21by9 {
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.grid--size-4.r29by9 {
  grid-template: 2fr 2fr / repeat(3, 1fr);
}

.grid--size-4.r36by9 {
  grid-template: 2fr 1fr / repeat(4, 1fr);
}

/* 5 tiles */

.grid--size-5 {
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.grid--size-5.slim {
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}

.grid--size-5.r2by3,
.grid--size-5.r1by1,
.grid--size-5.r4by3,
.grid--size-5.r3by2 {
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.grid--size-5.r16by9 {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid--size-5.r21by9,
.grid--size-5.r29by9 {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.grid--size-5.r36by9 {
  grid-template: 2fr 1fr / repeat(5, 1fr);
}

/* 6 tiles */

.grid--size-6 {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid--size-6.slim,
.grid--size-6.r2by3 {
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}

.grid--size-6.r1by1,
.grid--size-6.r4by3 {
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.grid--size-6.r21by9,
.grid--size-6.r29by9 {
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.grid--size-6.r36by9 {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

/* 7 tiles */

.grid--size-7,
.grid--size-7.r1by1,
.grid--size-7.r4by3,
.grid--size-7.r16by9 {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid--size-7.slim,
.grid--size-7.r2by3 {
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}

.grid--size-7.r21by9 {
  grid-template: repeat(2, 3fr) 2fr / repeat(4, 1fr);
}

.grid--size-7.r29by9 {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.grid--size-7.r36by9 {
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
}

/* 8 tiles */

.grid--size-8,
.grid--size-8.r1by1,
.grid--size-8.r4by3 {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid--size-8.slim {
  grid-template: repeat(6, 1fr) / repeat(2, 1fr);
}

.grid--size-8.slim,
.grid--size-8.r2by3 {
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}

.grid--size-8.r21by9,
.grid--size-8.r29by9 {
  grid-template: repeat(2, 4fr) 2fr / repeat(4, 1fr);
}

.grid--size-8.r36by9 {
  grid-template: repeat(2, 4fr) / repeat(5, 1fr);
}

/* 9 tiles */

.grid--size-9,
.grid--size-9.r1by1,
.grid--size-9.r4by3 {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid--size-9.slim,
.grid--size-9.r2by3 {
  grid-template: repeat(5, 1fr) / repeat(2, 1fr);
}

.grid--size-9.r21by9 {
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.grid--size-9.r29by9 {
  grid-template: repeat(2, 3fr) 1fr / repeat(5, 1fr);
}

.grid--size-9.r36by9 {
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
}

/* 10 tiles */

.grid--size-10,
.grid--size-10.r1by1,
.grid--size-10.r4by3 {
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

.grid--size-10.slim,
.grid--size-10.r2by3 {
  grid-template: repeat(5, 1fr) / repeat(2, 1fr);
}

.grid--size-10.r16by9,
.grid--size-10.r21by9 {
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.grid--size-10.r29by9,
.grid--size-10.r36by9 {
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
}

/* 11 tiles */

.grid--size-11,
.grid--size-11.r1by1,
.grid--size-11.r4by3 {
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

.grid--size-11.slim,
.grid--size-11.r2by3 {
  grid-template: repeat(6, 1fr) / repeat(2, 1fr);
}

.grid--size-11.r21by9 {
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
}

.grid--size-11.r29by9 {
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.grid--size-11.r36by9 {
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
}

/* 12 tiles */

.grid--size-12,
.grid--size-12.r1by1,
.grid--size-12.r4by3 {
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

.grid--size-12.slim {
  grid-template: repeat(6, 1fr) / repeat(2, 1fr);
}

.grid--size-12.r2by3 {
  grid-template: repeat(6, 1fr) / repeat(2, 1fr);
}

.grid--size-12.r16by9,
.grid--size-12.r21by9 {
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.grid--size-12.r29by9 {
  grid-template: repeat(2, 4fr) 2fr / repeat(6, 1fr);
}

.grid--size-12.r36by9 {
  grid-template: repeat(2, 4fr) / repeat(6, 1fr);
}

/* 13 tiles */

.grid--size-13,
.grid--size-13.r1by1,
.grid--size-13.r4by3 {
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.grid--size-13.slim {
  grid-template: repeat(7, 1fr) / repeat(2, 1fr);
}

.grid--size-13.r2by3 {
  grid-template: repeat(5, 1fr) / repeat(3, 1fr);
}

.grid--size-13.r21by9,
.grid--size-13.r29by9 {
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
}

.grid--size-13.r36by9 {
  grid-template: repeat(3, 1fr) / repeat(6, 1fr);
}

/* 14 tiles */

.grid--size-14,
.grid--size-14.r4by3 {
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.grid--size-14.slim {
  grid-template: repeat(7, 1fr) / repeat(2, 1fr);
}

.grid--size-14.r1by1,
.grid--size-14.r2by3 {
  grid-template: repeat(5, 1fr) / repeat(3, 1fr);
}

.grid--size-14.r21by9,
.grid--size-14.r29by9 {
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
}

.grid--size-14.r36by9 {
  grid-template: repeat(3, 1fr) / repeat(6, 1fr);
}

/* 15 tiles */

.grid--size-15,
.grid--size-15.r1by1,
.grid--size-15.r4by3 {
  grid-template: repeat(5, 1fr) / repeat(3, 1fr);
}

.grid--size-15.slim {
  grid-template: repeat(8, 1fr) / repeat(2, 1fr);
}

.grid--size-15.r2by3 {
  grid-template: repeat(5, 1fr) / repeat(3, 1fr);
}

.grid--size-15.r16by9 {
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.grid--size-15.r21by9,
.grid--size-15.r29by9 {
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
}

.grid--size-15.r36by9 {
  grid-template: repeat(3, 1fr) / repeat(6, 1fr);
}

/* 16 tiles */

.grid--size-16 {
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.grid--size-16.slim {
  grid-template: repeat(8, 1fr) / repeat(2, 1fr);
}

.grid--size-16.r2by3 {
  grid-template: repeat(6, 1fr) / repeat(3, 1fr);
}

.grid--size-16.r1by1 {
  grid-template: repeat(6, 1fr) / repeat(3, 1fr);
}

.grid--size-16.r4by3 {
  grid-template: repeat(4, 2fr) 1fr / repeat(4, 1fr);
}

.grid--size-16.r21by9 {
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
}

.grid--size-16.r29by9,
.grid--size-16.r36by9 {
  grid-template: repeat(3, 1fr) / repeat(6, 1fr);
}