.remote-controls {
  position: absolute;
  bottom: 1.5%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  padding: .75rem;
  z-index: 100;
  animation: fade-in 250ms ease forwards;
  opacity: 0;
  background-color: var(--color_black_medium_opacity);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.remote-controls button {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1rem;
  background-color: unset;
  color: var(--color_grey_10);
}

.remote-controls button:hover {
  background-color: var(--color_grey_90);
}

.remote-controls .success:hover {
  background-color: var(--color_success);
}

.remote-controls .danger button:hover {
  background-color: var(--color_danger);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}