.roster {
  display: block;
  color: var(--color_grey_80);
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.no-attendees {
  padding: 1rem;
  text-align: center;
}