.attendee {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.attendeeRemoteMedia {
  display: flex;
  height: 100%;
  width: 100%;
}

.liveVideos {
  flex: 1;
}

.left {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.spacer {
  margin-top: 12rem;
}

.localControls {
  display: flex;
  position: fixed;
  bottom: 2.5rem;
  z-index: 100;
}

.attendeeLocalVideo {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}

.liveAttendeeLocalVideo {
  padding: 0.5rem;
}

.liveLocalVideoTitle {
  margin: 0rem 0rem 0.25rem;
}

.helpIcon {
  margin-left: 0.5rem;
}

.modal {
  outline: none;
}

.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5rem);
}
