.button {
  padding: 0.125rem 0;
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 100%;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 190ms ease;
  flex-shrink: 0;
}

.button--default {
  color: var(--color_grey_40);
  background-color: var(--color_grey_20);
}

.button--default:hover {
  color: var(--color_white);
  background-color: var(--color_grey_70);
}

.button--default.active {
  color: var(--color_white);
  background-color: var(--color_grey_50);
}

.button--default.active:hover {
  background-color: var(--color_grey_40);
}

.button--primary {
  color: var(--color_grey_40);
  background-color: transparent;
}

.button--primary:hover {
  color: var(--color_white);
  background-color: var(--color_grey_100);
}

.button--primary.active {
  color: var(--color_white);
}

.button--primary:focus,
.button--default:focus,
.button--secondary:focus {
  outline: none;
  box-shadow: 0 0 0 2pt var(--color_info);
}

.button--secondary {
  transition: border-color 190ms ease;
  border: .125rem solid var(--color_grey_30);
  color: var(--color_grey_50);
  background-color: transparent;
}

.button--secondary:hover {
  border: .125rem solid var(--color_grey_50);
  color: var(--color_grey_80);
}

.button--danger {
  color: var(--color_white);
  background-color: var(--color_brand_secondary);
}

.button--danger:hover {
  background-color: var(--color_brand_secondary_dark);
}

.button--dark:focus,
.button--danger:focus,
.button--success:focus {
  outline: none;
  box-shadow: 0 0 0 2pt var(--color_grey_30);
}

.button--dark {
  color: var(--color_grey_30);
  background-color: var(--color_black_medium_opacity);
}

.button--dark:hover {
  color: var(--color_white);
  background: var(--color_black);
}


.button--success {
  color: var(--color_white);
  background: var(--color_success);
}

.button--success:hover {
  background-color: var(--color_success_dark);
}

.pulse {
  z-index: 1;
}

.pulse:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color_danger);
  border-radius: 100%;
  z-index: -1;
  animation: pulsing ease 1.7s infinite;
  will-change: transform;
  background: radial-gradient(#db281a, #eb1e0f);
}

@keyframes pulsing {
  0% {
    transform: scale(.45);
    opacity: 1;
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}