.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.informational {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  text-align: center;
  color: var(--color_grey_30);
}