.localVideo {
  position: relative;
  display: none;
  width: 17vw;
  height: auto;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.fill {
  width: 100%;
}

.localVideo.enabled {
  display: block !important;
}

.video {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.nameplate {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.125rem 0.5rem;
  margin: 0;
  max-width: 100%;
  z-index: 1;
  color: var(--color_white);
  background-color: var(--color_black_medium_opacity);
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
}