.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper--split .videos {
  min-width: 20%;
}

.contentShare {
  background-color: var(--color_black_medium_opacity);
}

.wrapper--theater .contentShare {
  padding: 1rem;
  width: 100%;
}

.wrapper--theater .contentShare video {
  width: 100%;
}