/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~rc-tooltip/assets/bootstrap.css';
@import '~react-dropdown/style.css';

:root {
  --local_video_container_height: 150px;
  --right_panel_width: 320px;

  /*
   * Brand
   */
  --color_brand_primary: #233f94;
  --color_brand_secondary: #e7131a;
  --color_brand_secondary_dark: #c51016;
  --color_white: #ffffff;
  --color_grey_10: #e6e9ed;
  --color_grey_20: #e0e2e6;
  --color_grey_30: #ccd3de;
  --color_grey_40: #8a92a5;
  --color_grey_50: #5b616f;
  --color_grey_60: #5d5666;
  --color_grey_70: #4d5666;
  --color_grey_80: #252525;
  --color_grey_90: #1f2a44;
  --color_grey_100: #0a0a0a;
  --color_black: #000000;

  --color_black_medium_opacity: rgba(0, 0, 0, 0.6);
  --color_black_low_opacity: rgba(0, 0, 0, 0.25);

  --color_error_light: #e7131a;
  --color_error: #ce1016;
  --color_error_dark: #9e0e13;
  --color_success: #0f8a0f;
  --color_success_dark: #0e750e;
  --color_info: #178df9;
  --color_warning: #faad14;

  --border-radius: 0.1875rem;

  --gradient_primary: linear-gradient(to top,
      #1e3c72 0%,
      #1e3c72 1%,
      #2a5298 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  position: relative;
  color: var(--color_grey_80);
  background-color: var(--color_brand_primary);
  background-image: var(--gradient_primary);
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  line-height: 1.45;
}

#root {
  height: 100%;
  animation: fadeIn 1s;
}

h1 {
  font-size: 1.75rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  color: var(--color_white);
  margin: 0;
  font-weight: 500;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Dependency style overrides */

/* Tooltips */

.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  border-top-color: var(--color_grey_100);
}

.rc-tooltip-placement-right .rc-tooltip-arrow {
  border-right-color: var(--color_grey_100);
}

.rc-tooltip-inner {
  background-color: var(--color_grey_100);
  font-size: 1rem;
}