.contentWrapper {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
  opacity: 0;
  animation: fade-in 250ms ease forwards;
}

.contentWrapper.active {
  display: flex;
}

.contentVideo {
  width: auto;
  height: auto;
  max-height: 100%;
  z-index: 2;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}